<div>
    <h2>Nos Catalogues</h2>
    <div class="row hcenter">
        <div class="catalogue padding05 b1">
            <a href="../../assets/catalogues/Catalogue_Vaisselle.pdf" download="carlimpex_vaiselle.pdf" class="dl padding05">
                Download
            </a>
        </div>
        <div class="catalogue  padding05 b2">
        <a href="../../assets/catalogues/Catalogue_Hygiene.pdf" download="carlimpex_vaiselle.pdf" class="dl padding05">
            Download
        </a>
        </div>
        <div class="catalogue  padding05 b3">
            <a href="../../assets/catalogues/Catalogue_couverts.pdf" download="carlimpex_vaiselle.pdf" class="dl padding05">
                Download
            </a>
        </div>
    </div>
</div>
