<div class="content">
    <div class="row sb">
        <div routerLink="/" class="logo vcenter">
        <img src="../../../assets/logo/logo_clark.svg" alt="ic_logo" class="imgLogo">
        </div>
        <form class="vcenter">
            <div class="row searchCadre">
              <input class="padding05" type="search" placeholder="Search">
              <img src="../../../assets/icons8-chercher.svg" alt="ic_profil" class="icon padding05">
            </div>
        </form>
        <nav class="user row vcenter padding05">
            <div routerLink="/profil" class="profil vcenter padding05">
                <img src="../../../assets/abstract-user-flat-1.svg" alt="ic_profil" class="icon">
            </div>
            <div routerLink="/basket" class="panier vcenter padding05">
                <img src="../../../assets/shopping-cart-empty-side-view-svgrepo-com.svg" alt="ic_panier" class="icon">
            </div>
        </nav>
    </div>
    <app-categories></app-categories>
</div>
