<section>
    <h2>Nos Services</h2>
    <div class="row container">
        <div class="item margin05 hcenter">
            <img src="../../../../assets/services/commande.jpg"/>
            <div class="padding05">
                <div>
                    <h3>Commandez</h3>
                </div>
                <div>
                    <p>
                        Vous pouvez passer commande directement, 7 j/7, 24h/24, selon vos préférences :<br />
                        Ligne téléphonique dédiée, un gestionnaire prendra votre commande pendant les heures ouvrées, un enregistreur prendra votre commande à toute heure.
                        Adresse mail dédiée, votre commande sera traitée directement et confirmée par l’administration des ventes ou votre commercial.
                        Votre commercial : votre commande est prise lors de sa visite mais également sur son répondeur télephonique ou encore son adresse mail.
                    </p>
                </div>
            </div>
        </div>
        <div class="item margin05 hcenter">
            <img src="../../../../assets/services/conseil.jpeg"/>
            <div class="padding05">
                <div>
                    <h3>Support Commercial</h3>
                </div>
                <div>
                    <p>
                        Une équipe expérimentée, disponible, à votre écoute, disposant de tous les moyens vous permettant de trouver satisfaction dans les meilleures conditions, que votre besoin soit classique ou sur mesure.<br/>
                        Physiquement, par téléphone ou par mail, le service commercial est réactif, attentif, compétent, et dispose de tous les moyens de notre société pour vous satisfaire.
                    </p>
                </div>
            </div>
        </div>
        <div class="item margin05 hcenter">
            <img src="../../../../assets/services/fabrication.jpeg"/>
                <div class="padding05">
                <div>
                    <h3>Fabrication</h3>
                </div>
                <div>
                    <p>
                        Les nappes, serviettes, sets, sont disponibles sur stock dans les standards habituels. Ces produits sont personnalisables, en marquage et /ou en dimensions : ce que vous voulez, nous savons le fabriquer !
                        NEWCLARK vous accompagne dans le développement de votre image, et vous propose des solutions classiques ou innovantes permettant de vous valoriser auprès de vos clients.
                    </p>
                </div>
            </div>
        </div>
        <div class="item margin05 hcenter">
            <img src="../../../../assets/services/livraison.jpeg"/>
            <div class="padding05">
                <div>
                    <h3>Livraison</h3>
                </div>
                <div>
                    <p>
                        Clasique et ECOLO : nous assurons des livraisons quotidiennes, plannifiées, à Paris et proche banlieue.grace à notre flotte de camions dont les plus recents roulent au GAZ et ses chauffeurs expérimentés et connaissant les impératifs de vos établissements.
                        Sur mesure : vous ouvrez un nouvel établissement, vous achevez vos travaux, vous organiser un évenement exceptionnel, vous avez besoin de certains produits rapidement ou sur rendez vous, notre service de livraison vous livrera votre commande.
                        Urgence : dépannage de dernière minute, bat à valider, échantillons urgents, …. du moment que cela rentre dans un sac à dos , c’est possible !
                    </p>
                    <p>
                        Délais de livraison
                        livraison j+1 pour toute commande passée avant 11h selon tableau des tournées.
                        livraison grande banlieue et province : selon 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>