.container {
    margin-inline: 2rem;
}
.Pimage {
    width: 25%;
}
.btn {
    width: fit-content;
    padding: 0rem 1.5rem;
    background-color: orange;
}
.Iproduit {
    width: 100%;
}
.qt {
    width: 3%;
    padding-inline: .5rem;
}